.container {
    max-width: 2560px;
    padding: 50px;
    background-color: #fff;
}
.nav {
    display: flex;
    justify-content: space-between;
}

.nav_box {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

form {
    flex-direction: column;
    display: flex;
}